*__pycache__
*.zip
*.pyc
*.sw*
logs/
eval/user_trajectories
localenv
gen_conf
results/
*log*
*ERROR*
*INFO*
*WARN*
transient/*
*.DS_Store
conf/tmp/
conf/scripts/gen_confs/
conf/scripts/tmp/
src/edge_go/edge_go
src/clientrunner_go/input/tmp
src/clientrunner_go/input/scale/tmp
src/clientrunner_go/input/microbenchmark/bench2/tmp
*.png